### III. Data Preparation (test)

In this notebook we shall undertake data preparation for the training test.

Below code is the same that training data has gone through to be able to train a model. 

Once data (test) will be prepared, it shall be saved for testing.

**a) Importing libraries and data**

In [1]:
# import libraries
import pandas as pd
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm
import numpy as np
import numpy.random as nr
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss
import math

%matplotlib inline
%matplotlib inline

In [2]:
#import data set
df=pd.read_csv('submission_set.csv',sep=';')
df.shape

(600, 9)

In [3]:
#view data
df.head(5)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty
0,21.313064,0.037928,20049,613.061762,768.160605,155.098843,auto-portee,Medium,3 ans
1,25.797234,0.038664,19699,701.321608,865.727540,164.405932,auto-portee,Low,3 ans
2,14.314083,0.043118,19704,654.147498,807.374158,153.226660,auto-portee,Low,3 ans
3,29.754390,0.038551,20072,669.083239,866.573954,197.490715,auto-portee,Low,3 ans
4,24.915116,0.038829,20183,675.313221,859.205792,183.892571,auto-portee,Low,3 ans

**b) Fixing data types and see number of nulls**

In [4]:
#view data types and see if there's anything wrong
df.dtypes

capacity        float64
failure_rate    float64
id                int64
margin          float64
price           float64
prod_cost       float64
product_type     object
quality          object
warranty         object
dtype: object

**prod_cost** appears as an object when it should be a float.

In [5]:
#take action to convert prod_cost to numeric
df['prod_cost']=pd.to_numeric(df.prod_cost, errors='coerce')

In [6]:
#see if we did well
df.dtypes

capacity        float64
failure_rate    float64
id                int64
margin          float64
price           float64
prod_cost       float64
product_type     object
quality          object
warranty         object
dtype: object

We did well, all data seem to be on the correct data type

In [7]:
#see how many nulls we have on data
df.isna().sum()

capacity        0
failure_rate    0
id              0
margin          0
price           0
prod_cost       0
product_type    0
quality         0
warranty        0
dtype: int64

We'll have to deal with the 31 blanks on the product cost. Since we have 0 nulls on product margin and price, it should be easy to figure out.**Product cost = Price - Margin**

**c) Feature Engineering**

In [8]:
#drop margin column
df.drop(['prod_cost'],axis=1)

,capacity,failure_rate,id,margin,price,product_type,quality,warranty
0,21.313064,0.037928,20049,613.061762,768.160605,auto-portee,Medium,3 ans
1,25.797234,0.038664,19699,701.321608,865.727540,auto-portee,Low,3 ans
2,14.314083,0.043118,19704,654.147498,807.374158,auto-portee,Low,3 ans
3,29.754390,0.038551,20072,669.083239,866.573954,auto-portee,Low,3 ans
4,24.915116,0.038829,20183,675.313221,859.205792,auto-portee,Low,3 ans
5,20.202288,0.037942,19967,669.154161,805.116632,auto-portee,Low,3 ans
6,25.917852,0.033390,20046,718.888370,877.761517,auto-portee,Hight,3 ans
7,14.468300,0.029201,19897,695.598900,852.935727,auto-portee,Medium,3 ans
8,18.590439,0.040266,20160,672.445308,821.445327,auto-portee,Low,3 ans
9,10.949484,0.038410,20058,653.011789,828.729119,auto-portee,Medium,3 ans
10,19.789083,0.036015,19859,695.804304,856.383077,auto-portee,Medium,3 ans
11,13.513243,0.037196,20092,721.367032,897.887534,auto-portee,Low,3 ans
12,9.643201,0.036202,19893,717.775584,913.192458,auto-portee,Low,3 ans
13,16.043453,0.033537,20086,648.533069,843.071890,auto-portee,Medium,3 ans
14,11.556703,0.032436,19864,719.339044,851.143706,auto-portee,Low,3 ans
15,20.414899,0.041534,20246,727.947339,885.247089,auto-portee,Hight,3 ans
16,17.606997,0.037899,19819,667.744757,836.551685,auto-portee,Low,3 ans
17,16.879244,0.033114,20139,735.215104,902.427992,auto-portee,Hight,3 ans
18,18.342769,0.035484,19715,644.561072,792.922408,auto-portee,Low,3 ans
19,16.988370,0.035063,19808,611.297516,760.891548,auto-portee,Medium,3 ans
20,26.514599,0.033776,19909,648.680080,791.429236,auto-portee,Low,3 ans
21,34.102189,0.040277,19747,642.174789,824.738629,auto-portee,Low,3 ans
22,10.687022,0.033205,20221,680.791156,845.501668,auto-portee,Medium,3 ans
23,16.744883,0.032856,20028,709.346142,835.328881,auto-portee,Low,3 ans
24,19.745616,0.036119,20012,708.652399,899.774706,auto-portee,Low,3 ans
25,10.730358,0.040661,19737,680.556676,847.193592,auto-portee,Hight,3 ans
26,30.283778,0.033910,19763,711.323939,899.619254,auto-portee,Low,3 ans
27,25.957640,0.037410,19788,618.177013,766.915218,auto-portee,Low,3 ans
28,31.161860,0.037780,19935,665.072768,846.614154,auto-portee,Low,3 ans
29,19.242868,0.036445,19875,660.763804,827.868629,auto-portee,Low,3 ans
...,...,...,...,...,...,...,...,...
570,45.109396,0.227349,20022,63.123597,72.551504,essence,Low,1 an
571,82.034329,0.192363,20210,63.101450,71.818402,essence,Low,1 an
572,65.848666,0.210324,20121,58.770521,70.796986,essence,Low,1 an
573,53.990039,0.279467,19718,64.849141,76.149546,essence,Low,1 an
574,76.206181,0.235800,19931,60.706171,71.806372,essence,Low,1 an
575,72.178053,0.201987,19700,69.207275,80.425104,essence,Low,1 an
576,38.097762,0.223429,19774,63.645245,74.698114,essence,Medium,1 an
577,61.986337,0.208134,19663,61.157948,71.960730,essence,Low,1 an
578,63.297372,0.178622,19686,63.105944,73.427895,essence,Low,1 an
579,61.064359,0.197195,19936,59.203144,68.543044,essence,Low,1 an
580,67.336335,0.191568,20036,62.613980,73.027716,essence,Medium,1 an
581,79.809464,0.194196,19963,65.270924,78.254546,essence,Low,1 an
582,56.465478,0.202718,20175,56.638445,67.626934,essence,Low,1 an
583,59.503891,0.219307,19762,66.074569,77.971408,essence,Hight,1 an
584,56.452197,0.231662,19670,59.161075,68.106677,essence,Low,1 an
585,67.599071,0.228047,19697,62.007100,72.997970,essence,Low,1 an
586,66.425414,0.251688,19865,66.137792,77.704773,essence,Medium,1 an
587,48.838803,0.194541,19783,59.382629,68.557755,essence,Low,1 an
588,54.836717,0.242293,20250,59.769372,72.613472,essence,Low,1 an
589,49.509757,0.219939,20236,65.296718,77.829901,essence,Medium,1 an
590,59.540611,0.203208,19896,61.867930,72.797116,essence,Medium,1 an
591,77.797836,0.250488,20038,66.023694,78.249367,essence,Low,1 an
592,62.641501,0.212866,19898,69.315187,80.046545,essence,Low,1 an
593,56.504037,0.193459,20098,60.084944,69.643638,essence,Low,1 an
594,64.475155,0.233918,19803,66.954420,80.521262,essence,Medium,1 an
595,55.514926,0.211208,19952,70.019558,81.337796,essence,Hight,1 an
596,70.291927,0.155343,20107,60.958173,72.007901,essence,Low,1 an
597,64.453485,0.181305,20071,66.996854,78.662357,essence,Hight,1 an
598,58.217699,0.255710,19812,66.842325,80.047029,essence,Hight,1 an
599,54.407920,0.228232,19742,70.594072,83.561285,essence,Low,1 an

In [9]:
# Create again Prod_cost column by calculating it from existing columns.
df['prod_cost']=df['price']-df['margin']

In [10]:
# See if we did well (margin column should appear again on df)
df.head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty
0,21.313064,0.037928,20049,613.061762,768.160605,155.098843,auto-portee,Medium,3 ans
1,25.797234,0.038664,19699,701.321608,865.727540,164.405932,auto-portee,Low,3 ans
2,14.314083,0.043118,19704,654.147498,807.374158,153.226660,auto-portee,Low,3 ans
3,29.754390,0.038551,20072,669.083239,866.573954,197.490715,auto-portee,Low,3 ans
4,24.915116,0.038829,20183,675.313221,859.205792,183.892571,auto-portee,Low,3 ans

In [11]:
#Verify we have no nulls
df.isna().sum()

capacity        0
failure_rate    0
id              0
margin          0
price           0
prod_cost       0
product_type    0
quality         0
warranty        0
dtype: int64

In [12]:
#Verify data set has the correct shape
df.shape

(600, 9)

In [13]:
#Check if I have any Nan
df.isna().sum()

capacity        0
failure_rate    0
id              0
margin          0
price           0
prod_cost       0
product_type    0
quality         0
warranty        0
dtype: int64

In [14]:
#Find how many ID I have on the dataset, and how many values per country
df['id'].unique()

array([20049, 19699, 19704, 20072, 20183, 19967, 20046, 19897, 20160,
       20058, 19859, 20092, 19893, 20086, 19864, 20246, 19819, 20139,
       19715, 19808, 19909, 19747, 20221, 20028, 20012, 19737, 19763,
       19788, 19935, 19875, 19924, 20029, 19794, 20091, 20009, 19795,
       20065, 20188, 19832, 20044, 20060, 19826, 20253, 20213, 19818,
       20134, 19986, 20159, 20106, 19740, 19958, 20030, 19998, 19811,
       19827, 20136, 19844, 19822, 19996, 19659, 20118, 19971, 19904,
       20011, 19861, 19920, 19687, 19669, 19668, 20116, 19939, 19716,
       19789, 20094, 20220, 19730, 19665, 19894, 20142, 19714, 20192,
       19754, 19695, 20190, 19938, 20000, 20191, 19806, 19683, 20100,
       20251, 20018, 19743, 19926, 20174, 19713, 19696, 20209, 19779,
       19835, 20203, 20198, 20043, 19688, 20081, 19964, 19999, 19769,
       20197, 19727, 19908, 20141, 20200, 20176, 19735, 20008, 20162,
       19984, 19750, 20025, 19778, 19933, 20021, 20014, 20033, 19708,
       20035, 19992, 19913, 20249, 20256, 19849, 19757, 20051, 19796,
       20056, 20149, 19925, 20216, 20138, 20254, 19858, 20050, 19919,
       19786, 20143, 19667, 20127, 19993, 20040, 19729, 19870, 20226,
       19961, 19839, 19833, 20239, 19791, 20204, 19852, 19856, 19660,
       19979, 20222, 20173, 20217, 19845, 20225, 19848, 20158, 20048,
       19932, 19834, 19733, 20234, 19720, 20103, 19879, 20180, 20240,
       20053, 19878, 19691, 19828, 20031, 19682, 19868, 20148, 20026,
       19820, 19871, 19970, 20123, 20155, 19814, 19881, 20076, 19944,
       19994, 19876, 20002, 20219, 20211, 19981, 20152, 19673, 20201,
       20015, 20090, 19954, 20005, 19658, 20199, 20186, 19972, 19910,
       20230, 19982, 19991, 19787, 19689, 20001, 19805, 20193, 19707,
       20082, 19672, 19664, 20208, 19810, 20169, 20218, 20045, 19775,
       20101, 19997, 19853, 19840, 20125, 20187, 20178, 19816, 19684,
       20073, 19903, 20171, 20061, 19873, 20168, 19748, 19823, 19965,
       19953, 19836, 19884, 19911, 20054, 19815, 19883, 19792, 20185,
       19768, 19741, 20165, 19880, 19854, 19671, 19674, 20039, 20130,
       20206, 19867, 19895, 20084, 19817, 19857, 19777, 19703, 19722,
       20252, 19874, 19739, 20166, 19782, 19692, 19847, 19950, 19675,
       20020, 19661, 20227, 19726, 19855, 20003, 20135, 19751, 19956,
       19862, 19947, 19728, 20096, 19734, 20062, 20113, 19765, 19662,
       20131, 19975, 19941, 20074, 20147, 20105, 19731, 20132, 20042,
       19797, 20068, 20257, 20112, 20063, 20077, 19863, 20088, 19980,
       19685, 20202, 20126, 19988, 19821, 20083, 19934, 20057, 20007,
       20214, 19770, 19892, 19831, 19968, 20184, 20097, 19698, 20144,
       20247, 20104, 19736, 19943, 19709, 20080, 19799, 20145, 19929,
       20085, 20109, 19955, 19945, 20248, 20119, 19983, 20181, 19677,
       20224, 19732, 19838, 19899, 20099, 19966, 19807, 20128, 19885,
       20196, 19809, 19721, 19973, 20228, 20066, 19705, 19681, 19781,
       19790, 20154, 19723, 19987, 20194, 19690, 19710, 20133, 19914,
       19804, 19744, 19846, 20195, 19905, 19946, 19923, 20075, 20164,
       20095, 20179, 19851, 19962, 19756, 20070, 20212, 19985, 19784,
       20223, 19776, 20229, 19767, 19937, 20079, 19850, 20023, 20102,
       20114, 20006, 19841, 19711, 19976, 20052, 20167, 19801, 20078,
       19942, 19930, 19907, 20151, 19957, 19960, 19745, 20146, 20172,
       20115, 19693, 19780, 20041, 19837, 19886, 20004, 19773, 20156,
       19882, 20161, 20064, 19978, 20137, 19824, 19906, 20205, 20177,
       20242, 19678, 19977, 20019, 19940, 20032, 20017, 19901, 19761,
       20087, 19948, 20122, 19829, 19725, 19922, 19800, 20013, 20182,
       20037, 20055, 20089, 19900, 20243, 19813, 19918, 19712, 20241,
       20244, 19843, 19785, 20093, 19680, 19676, 19764, 20059, 20157,
       19989, 19902, 20110, 19719, 20067, 19866, 20016, 19752, 20117,
       20069, 19891, 20232, 20215, 19869, 19887, 19746, 19872, 20150,
       19798, 19771, 19959, 19694, 20140, 20047, 19830, 19679, 19995,
       20111, 20235, 19969, 19949, 19917, 19928, 20027, 19990, 19912,
       19753, 19921, 19916, 20207, 19706, 20034, 20170, 20120, 19724,
       20237, 20163, 19749, 20108, 19890, 19842, 20124, 19802, 19702,
       19888, 19760, 20231, 19951, 19755, 20010, 19666, 19701, 19927,
       19738, 20129, 19772, 19793, 19974, 19766, 20153, 19758, 19860,
       20189, 20024, 20255, 20238, 20233, 19915, 20245, 19759, 19717,
       19889, 19825, 19877, 20022, 20210, 20121, 19718, 19931, 19700,
       19774, 19663, 19686, 19936, 20036, 19963, 20175, 19762, 19670,
       19697, 19865, 19783, 20250, 20236, 19896, 20038, 19898, 20098,
       19803, 19952, 20107, 20071, 19812, 19742], dtype=int64)

In [15]:
#Ok, so I can delete ID column. 
df=df.drop(['id'],axis=1)

In [16]:
df.dtypes

capacity        float64
failure_rate    float64
margin          float64
price           float64
prod_cost       float64
product_type     object
quality          object
warranty         object
dtype: object

 Now I have to deal with **object** type data, namely non numerical data

* Fix Produt_type column

In [17]:
# Start with product_type
df['product_type'].value_counts()

essence        355
electrique     185
auto-portee     60
Name: product_type, dtype: int64

In [18]:
# Get dummy varibles for Product_type
df = pd.concat([df,pd.get_dummies(df['product_type'], prefix='product_type:')],axis=1)

In [19]:
#check new dummy columns have beenc created 
df.head(3)

,capacity,failure_rate,margin,price,prod_cost,product_type,quality,warranty,product_type:_auto-portee,product_type:_electrique,product_type:_essence
0,21.313064,0.037928,613.061762,768.160605,155.098843,auto-portee,Medium,3 ans,1,0,0
1,25.797234,0.038664,701.321608,865.727540,164.405932,auto-portee,Low,3 ans,1,0,0
2,14.314083,0.043118,654.147498,807.374158,153.226660,auto-portee,Low,3 ans,1,0,0

* Fix Quality column

In [20]:
#Check quality column
df['quality'].value_counts()

Low       407
Medium    119
Hight      74
Name: quality, dtype: int64

There is a misspelling on the high category, as it's written 'Hight' where it should be "High". So I proceed to fix it. Also, for comercial purposes, I think it's better to use the word 'Basic' instead of 'Low', so I proceed to undertake this change as well.

In [21]:
# quality column misspelling correction
quality_cat = {'Low':'Basic', 
                'Medium':'Medium',
                'Hight':'High'}
df['quality']=[quality_cat[x] for x in df['quality']]
df['quality'].value_counts()

Basic     407
Medium    119
High       74
Name: quality, dtype: int64

In [22]:
# Get dummy varibles for Quality
df = pd.concat([df,pd.get_dummies(df['quality'], prefix='Quality:')],axis=1)

In [23]:
#check new dummy columns have been created 
df.head(3)

,capacity,failure_rate,margin,price,prod_cost,product_type,quality,warranty,product_type:_auto-portee,product_type:_electrique,product_type:_essence,Quality:_Basic,Quality:_High,Quality:_Medium
0,21.313064,0.037928,613.061762,768.160605,155.098843,auto-portee,Medium,3 ans,1,0,0,0,0,1
1,25.797234,0.038664,701.321608,865.727540,164.405932,auto-portee,Basic,3 ans,1,0,0,1,0,0
2,14.314083,0.043118,654.147498,807.374158,153.226660,auto-portee,Basic,3 ans,1,0,0,1,0,0

* Fix Warranty colum

In [24]:
# Check waranty column
df['warranty'].value_counts()

1 an     355
2 ans    185
3 ans     60
Name: warranty, dtype: int64

There are basically 3 categories in this columns, but each category has many different entries. I shall aggregate categories, so that there's only 3 left.

In [25]:
# aggregate categories warranty column
warranty_cat = {'1 an.':'1',
                '1 an':'1',
                '1_ans':'1',
                '1_an.':'1',
                '1ans':'1',
                '1an':'1',
                '1_an':'1',
                '1 ans':'1',
                '1an.':'1', 
                '2ans.':'2',
                '2 anss':'2',
                '2_anss':'2',
                '2_anss':'2',
                '2 ans':'2', 
                '2 ans.':'2',
                '2_ans':'2',
                '2ans':'2', 
                '2_ans.':'2', 
                '2anss':'2',
                '3 ans':'3','3 anss':'3','3_ans.':'3','3ans':'3','3_ans':'3','3 ans.':'3','3anss':'3','3_anss':'3','3ans.':'3'}
df['warranty']=[warranty_cat[x] for x in df['warranty']]
df['warranty'].value_counts()

1    355
2    185
3     60
Name: warranty, dtype: int64

In [26]:
# Get dummy varibles for Warranty
df = pd.concat([df,pd.get_dummies(df['warranty'], prefix='Warranty_years:')],axis=1)

* I create a brand **new column**: % of Margin

In [27]:
df['Perc_margin']=(df['margin']/df['prod_cost'])*100

In [28]:
df['Perc_margin'].describe()

count    600.000000
mean     448.342025
std      161.954376
min      160.434594
25%      262.096158
50%      500.815432
75%      573.856992
max      842.608786
Name: Perc_margin, dtype: float64

In [29]:
# I shall turn this column from numerical into categorical
def Perc_margin_xform(al):
    if al < 0: return 'negtive'
    elif al <252: return 'Low'
    elif al <504: return 'Medium'
    else: return 'High'

df["Perc_margin"] = df['Perc_margin'].map(Perc_margin_xform)


df['Perc_margin'].value_counts()

High      296
Medium    172
Low       132
Name: Perc_margin, dtype: int64

In [30]:
# Get dummy varibles for Quality
df = pd.concat([df,pd.get_dummies(df['Perc_margin'], prefix='Perc_Margin:')],axis=1)

In [31]:
# Drop columns 
df=df.drop(['product_type', 'quality', 'warranty','Perc_margin'], axis=1)

In [32]:
# Scale data

In [33]:
df.head(2)

,capacity,failure_rate,margin,price,prod_cost,product_type:_auto-portee,product_type:_electrique,product_type:_essence,Quality:_Basic,Quality:_High,Quality:_Medium,Warranty_years:_1,Warranty_years:_2,Warranty_years:_3,Perc_Margin:_High,Perc_Margin:_Low,Perc_Margin:_Medium
0,21.313064,0.037928,613.061762,768.160605,155.098843,1,0,0,0,0,1,0,0,1,0,0,1
1,25.797234,0.038664,701.321608,865.727540,164.405932,1,0,0,1,0,0,0,0,1,0,0,1

In [35]:
df.shape

(600, 17)

In [37]:
df.columns

Index(['capacity', 'failure_rate', 'margin', 'price', 'prod_cost',
       'product_type:_auto-portee', 'product_type:_electrique',
       'product_type:_essence', 'Quality:_Basic', 'Quality:_High',
       'Quality:_Medium', 'Warranty_years:_1', 'Warranty_years:_2',
       'Warranty_years:_3', 'Perc_Margin:_High', 'Perc_Margin:_Low',
       'Perc_Margin:_Medium'],
      dtype='object')

Now dataset is ready for visualizations and data wrangling

In [36]:
#export data set to main directory to be used in a different jupyter notebook
df.to_csv("testprepared.csv", index=False)